html,body{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.navbar{
    background-color: #962e25 !important;
    color: #f3f3f3 !important;
    width: 100%;
    height: 100%;
}
li.nav-item a{
    width: 100%;
    color: #ffffff !important;
    font-size: 18px !important;
    transition: 1s ease-in-out;  
}
li.nav-item a:hover{
    color: #53170e !important;;
}
div.cover-accueil img{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 100vh;
}
div.cover-qsn{
    background-color: #f3f3f3;
    width: 100%;
    height: auto;
}
div.cover-acceuil h1{
    padding: 5px 0px 5px 50px;
}
div.cover-acceuil h1 strong {
    color: #962e25;
    font-weight: bold;
}

div.bg-app-mai h2,
div.bg-app-mai p,
div.loc-mat h2,
div.loc-mat p,
div.recouvrement h2,
div.recouvrement p,
div.syndic h2,
div.syndic p,
div.gerance h2,
div.gerance p {
    color: #333;
}
div.recouvrement,
div.syndic,
div.gerance,
div.gerance,
div.bg-app-mai,
div.loc-mat {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #fff;
}

div.bg-app-mai p,
div.loc-mat p,
div.recouvrement p,
div.gerance p,
div.syndic p {
    font-size: 1.4em;
    padding-top: 20px;
}
div.recouvrement ul li {
    color: #333;
}
div.gerance ul{
    color: #333;
    font-size: 1.2em;
    list-style: none;
}
div.reseaux-sociaux a i {
    color: #962e25;
    font-size: 2em;
    transition: 1s ease-in-out;
}
div.qui-sommes-nous-text{
    font-size: 1.3em;
}
div.reseaux-sociaux a i:hover {
    color: #220905;
}
@media only screen and (max-width: 768px){
    div.cover-accueil  img {
        display: none;
    }
    div.cover-accueil {
        background: url(../images/cover-mobile.jpeg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height: 100vmax;
    }
    div.cover-qsn{
        padding-top: 100px !important;
    }
    div.cover-qsn h1 {
        padding: 5px !important;
        font-size: 1.5em !important;
    }
    div.recouvrement,
    div.syndic,
    div.gerance,
    div.gerance,
    div.bg-app-mai,
    div.loc-mat {
        width: 100%;
        height: auto !important;
    }
    div.bg-app-mai h2,
    div.loc-mat h2,
    div.recouvrement h2,
    div.syndic h2,
    div.gerance h2{
        font-size: 1.4em !important;
        text-align: left !important;
    }
    div.bg-app-mai p,
    div.loc-mat p,
    div.recouvrement p,
    div.syndic p,
    div.gerance p {
        font-size: 1.1em !important;
        text-align: left !important;
    }
    div.gerance ul li{
        font-size: 0.9em !important;
    }
    div.qui-sommes-nous-text{
        font-size: 1.1em;
        text-align: left !important;
    }
}