html,body{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.navbar{
    background-color: #ffffff !important;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #CD0000;
}
li.nav-item a{
    width: 100%;
    color: #CD0000 !important;
    font-size: 18px !important;
    transition: 1s ease-in-out;  
}
li.nav-item a:hover{
    color: #53170e !important;;
}
div.cover-acceuil img{
    width: 100%;
    height: 100%;
}
div.carousel-item  img{
    width: 100%;
    height: 85vmin;
}
section.contenu-appartement h1, section.contenu-materiels h1, section.contenu-gerance h1, section.contenu-recouvrement h1, section.contenu-syndic h1{
    color: #CD0000;
}
section.contenu-appartement p, section.contenu-materiels p, section.contenu-gerance p, section.contenu-recouvrement p, section.contenu-syndic p{
    font-size: 1.25em;
}
div.bloc-gerance p, div.bloc-syndic p, div.bloc-recouvrement p{
    font-size: 1.1em;
}
div.bloc-appartement img, div.bloc-maison img{
    height: 400px;
}
div.bloc-appartement h4, div.bloc-maison h4{
    padding: 10px;
    width: 100%;
    background-color: #992211;
    color: #fff;
}
div.info-contact i{
    font-size: 2.5em;
    color: #CD0000;
}
div.info-contact p{
    font-size: 1.5em;
}
div.bloc-form-contact p{
    font-size: 1.2em;
    margin-bottom: 25px;
}
div.form-group input, textarea{
    font-size: 1.5em !important;
}
button.btn-primary{
    background-color: #CD0000 !important;
    border:none;
    transition: 1s ease-in-out;
}
button.btn-primary:hover{
    background-color: #220905 !important;
}
div.footer{
    border-top: 1px solid #CD0000;
}
div.reseaux-sociaux a i{
   color: #CD0000 ;
   font-size: 2em; 
   transition: 1s ease-in-out;
}
div.reseaux-sociaux a i:hover{
   color: #220905 ; 
}
/* Page qui sommmes nous et conatct*/
.cover-qui-sommes-nous {
    width: 100%;
    height: 50vmin;
}
.cover-contact img, .cover-propriete img{
     width: 100%;
    height: auto;
}
div.qui-sommes-nous-text p{
    font-size: 1.2em;
}
div.contact{
   background-color: #f4f5f5;
}
@media screen and (max-width: 576px) {
    div.cover-acceuil img {
        display: none;
    }
    div.cover-acceuil{
        background: url(../images/cover-mobile.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height: 100vmax;
    }
    div.form-group input, textarea{
        font-size: 1em !important;
    }
    section.contenu-appartement h1, section.contenu-materiels h1, section.contenu-gerance h1, section.contenu-recouvrement h1, section.contenu-syndic h1{
        font-size: 1.3em;
    }
    section.contenu-appartement p, section.contenu-materiels p, section.contenu-gerance p, section.contenu-recouvrement p, section.contenu-syndic p{
        font-size: 1.1em;
        text-align: justify;
    }
    div.bloc-appartement img{
        height: 250px;
    }
    div.bloc-gerance p, div.bloc-appartement p, div.bloc-syndic p, div.bloc-recouvrement p{
        font-size: 1.05em;
        text-align: left;
    } 
    div.bloc-recouvrement li {
        padding-right: 22px;
    }
    div.bloc-recouvrement li strong {
        text-align: left !important;
    }
    div.bloc-recouvrement small{
        text-align: justify;
    }
    div.contenu-page h3{
        font-size: 1.3em;
    }
    div.bloc-form-contact p{
        font-size: 1.05em;
        text-align: justify;
    }
    button.btn-primary{
        width: 100%;
    }
    div.info-contact i{
        font-size: 2em;
    }
    div.info-contact p{
        font-size: 1.1em;
    }
    div.reseaux-sociaux a i{
        font-size: 1.5em; 
    }
    div.footer h5{
        font-size: 1.2em;
    }
    div.qui-sommes-nous img{
        width: 200px !important;
        height: 200px !important;
        padding-bottom: 20px;
        
    }
    div.qui-sommes-nous-text p{
        font-size: 1.1em;
    }

}
